@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  font-family: "Outfit", sans-serif;
  font-weight:400;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem 1rem;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(87,16,7,1) 0%, rgba(131,31,30,1) 30%, rgba(65,9,2,1) 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;

}

.drop {
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  animation: drop 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}
.drop-outer1 .drop {
  animation-delay:1s;
}
.footer-nav svg {
  /* color: #767778; */
  color:#d78f87;
}
.drop-outer2 .drop {
  animation-delay:3s;
}
img.coin {
  z-index: 1;
  position: relative;
}
.drop-outer {
  left: 18%;
}
.drop-outer1 {
  left: 34%;
}
.drop-outer2 {
  left: 60%;
}
.drop-outer, .drop-outer1, .drop-outer2 {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  z-index: 2;
  top: 0%;
}
.home-app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 4rem);
}
@keyframes drop {
  0% {
    transform: scale3d(0.01,0.01,0.01) translateY(0);

  }
  10% {
    transform: scale3d(1,1,1); 

  }
  44% {
    transform: scale3d(1,1,1) translateY(110vh);

  }
  100% {
    transform: scale3d(1,1,1) translateY(110vh);
 
  }
}

@keyframes fade-in-out {
  0% {opacity: 0}
  42% {opacity: 0}
  52% {opacity: 1}
  65% {opacity: 1}
  100% {opacity: 0}
}
.home-app .app-logo {
  margin-top: 130px;
}
.fixed.card {
  bottom: 85px;
  background: #882016;
  width: calc(100% - 70px);
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  z-index: 3;
  padding: 0px;
  margin: 0 auto;
  border-radius: 9px;
  background: linear-gradient(183deg, rgba(136,32,22,1) 0%, rgba(131,31,30,1) 30%, rgba(136,32,22,1) 100%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: hsla(0, 0%, 99%, .3);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.fixed.card button {
  width: 100%;
  padding: 8px;
  user-select: none;
}
.footer-nav {
  width:100%;
  right: 0;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 16px 0 rgba(8, 38, 52, .2);
  background: hsla(0, 0%, 99%, .03);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.footer-nav  .grid a .text-sm {
  /* color: #767778; */
  font-weight: 300;
  font-size: 10px;
  color:#d78f87;
}
.footer-nav .font-medium {
  margin: 4px 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
}
.footer-nav .grid a{
  border:1px solid transparent;
}
.footer-nav a button{
background: transparent;
}
.footer-nav .grid a:hover {
  --tw-bg-opacity: 1;
  box-shadow: 0 0 16px 0 rgba(8, 38, 52, .2);
  background: hsla(0, 0%, 99%, .03);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.footer-nav .grid a {
  padding: 3px;
  height: 100%;
  width: 25%;
}
.app-title {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 58%;

}
.wrap .drop {
  margin-top: -50px;
}
.app-title h3 {
  color: #fdd69e;
  font-size: 45px;
  letter-spacing: 2px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
.task-view .vertical-tasks {
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 16px 0 rgba(8, 38, 52, .2);
  background: hsl(0deg 0% 89.12% / 20%);
  border: 1px solid hsla(0, 0%, 100%, .05);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.task-view .vertical-tasks .tasks-list {
  text-align: left;
  color:  rgb(255 255 255 / 89%);
}
.task-view , .rewards-earnd{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.tasks-list h6, .rewards-earnd .vertical-tasks .tasks-list h6 {
  font-size: 13px;
  margin-top: 5px;
}
.tasks-button button {
  background: #e6a359;
}
.token-earns h4 ,.rewards-earnd .vertical-tasks .tasks-list h4{
  font-size: 52px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: text-bottom;
  /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
  letter-spacing: 3px;
  line-height: 1;
}
.token-earns {
  margin: 36px 0 30px;
}
.task-point-earnd .app-logo {
  margin: 40px 0 0;
}
.token-earns h5 {
  color: #e9e9e9;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}
.task-view .heading, .rewards-earnd .heading{
  text-align: left;
}
.rewards-earnd {
  margin: 60px 0;
}
.task-view .heading h6, .rewards-earnd .heading h6 {
  color: #ffffff;
  font-size: 21px;
}
.rewards-earnd .vertical-tasks {
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border-bottom: 1px solid hsla(0, 0%, 100%, .05);
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
.rewards-earnd .vertical-tasks:last-child {
  border: 0;
}
.rewards-earnd .vertical-tasks .tasks-list {
  text-align: left;
  color: #fff;
}
.reward-days p {
  font-size: 16px;
  color: #fff;
}
.reward-days span {
  font-size: 14px;
  margin-left: 5px;
}