@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(87,16,7,1) 0%, rgba(131,31,30,1) 30%, rgba(65,9,2,1) 100%);
}

.drop {
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  animation: drop 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}
.drop-outer1 .drop {
  animation-delay:1s;
}
.footer-nav svg {
  /* color: #767778; */
  color:#d78f87;
}
.drop-outer2 .drop {
  animation-delay:3s;
}
img.coin {
  z-index: 1;
  position: relative;
}
.drop-outer {
  left: 18%;
}
.drop-outer1 {
  left: 34%;
}
.drop-outer2 {
  left: 60%;
}
.drop-outer, .drop-outer1, .drop-outer2 {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  z-index: 2;
  top: 0%;
}
.home-app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4rem);
}
@keyframes drop {
  0% {
    transform: scale3d(0.01,0.01,0.01) translateY(0);

  }
  10% {
    transform: scale3d(1,1,1); 

  }
  44% {
    transform: scale3d(1,1,1) translateY(110vh);

  }
  100% {
    transform: scale3d(1,1,1) translateY(110vh);
 
  }
}

@keyframes fade-in-out {
  0% {opacity: 0}
  42% {opacity: 0}
  52% {opacity: 1}
  65% {opacity: 1}
  100% {opacity: 0}
}
.home-app .app-logo {
  margin-top: -40px;
}
.fixed.card {
  bottom: 85px;
  background: #882016;
  width: calc(100% - 100px);
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  z-index: 3;
  padding: 0px;
  margin: 0 auto;
  border-radius: 9px;
  background: linear-gradient(183deg, rgba(136,32,22,1) 0%, rgba(131,31,30,1) 30%, rgba(136,32,22,1) 100%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: hsla(0, 0%, 99%, .3);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.fixed.card button {
  width: 100%;
  padding: 8px;
  user-select: none;
}
.footer-nav {
  width:100%;
  right: 0;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 16px 0 rgba(8, 38, 52, .2);
  background: hsla(0, 0%, 99%, .03);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.footer-nav  .grid button .text-sm {
  /* color: #767778; */
  font-weight: 300;
  font-size: 10px;
  color:#d78f87;
}
.footer-nav .font-medium {
  margin: 4px 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
}
.footer-nav .grid button{
  border:1px solid transparent;
}
.footer-nav .grid button:hover {
  --tw-bg-opacity: 1;
  box-shadow: 0 0 16px 0 rgba(8, 38, 52, .2);
  background: hsla(0, 0%, 99%, .03);
  border: 1px solid hsla(0, 0%, 100%, .05);
}
.footer-nav .grid button {
  padding: 3px;
  height: 100%;
  width: 25%;
}
.app-title {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 67%;

}
.wrap .drop {
  margin-top: -50px;
}
.app-title h3 {
  color: #fdd69e;
  font-size: 45px;
  letter-spacing: 2px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}